body{
    margin:0px;
    padding:0px;
    background-color: rgb(240, 239, 239);
    font-family: 'Ubuntu', sans-serif;
}

header{
    text-align: center;
    margin-top:20px;
    margin-bottom:50px;
}

.card{
    border-radius:2%;
}

.card-body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.myBox{
    border:1px dashed lightgray;
    border-radius:5%;
    width:90%;
    height:max-content;
    padding-bottom: 10px;
    text-align:center;
}

.myBox h3{
    padding:20px 30px;
    text-align: center;
    color:rgb(158, 157, 157);
    font-size:1.3rem;
}

.textLeft{
    align-self:flex-start;
    margin-top:40px;
    margin-left:10px;
    font-size:2rem;
}

.textMsg{
    margin:20px;
}

.line{
    width:95%;
	height:1px;
    background:rgb(179, 179, 179);
    margin:20px;
}

.btn{
    margin:10px 20px;
    width:200px;  
}

.button{
    display:flex;
    flex-direction: column;
}

.btn{
    align-self: center;
}

.passwordBox{
    border:1px dotted lightgray;
    border-radius:5%;
    margin:20px 0px 10px 0px;
    padding:10px;
    width:70%;
}

.msgDisplay{
	text-align:center;
	color:gray;
	font-size:2rem;	
}

.msg2Display{
    margin-top:40px;
	text-align:center;
	color:rgb(158, 149, 150);
	font-size:1rem;	
}

@media screen and (max-width:640px){
    .btn{
        margin:10px 20px;
        width:50%;  
    }
}